body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.header, .footer {
  background-color: #ef5350;
  color: white;
  text-align: center;
  padding: 10px 0;
}

.header h1 {
  margin: 0;
}

.header nav {
  margin-top: 10px;
}

.header nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.header nav a:hover {
  background-color: #d32f2f;
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  color: #333;
}

button {
  background-color: #ef5350;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin: 10px 0;
}

button:hover {
  background-color: #d32f2f;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 20px;
}

.flex-item {
  flex: 1;
}

.map-container {
  height: 100%; /* Adjust the height as needed */
  width: 100%; /* Adjust the width to take up available space */
  margin: 20px 0;
}

.map-placeholder {
  height: 100%;
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #555;
  font-size: 18px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
}

li:hover {
  background-color: #ddd;
}

li .address-info {
  flex: 1;
}

li .button-container {
  display: flex;
  gap: 10px;
}

input {
  width: calc(100% - 22px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
}

label {
  display: block;
  margin: 10px 0 5px;
}

.suggestions {
  border: 1px solid #ddd;
  max-height: 150px;
  overflow-y: auto;
  position: absolute;
  background-color: white;
  width: calc(100% - 22px);
  z-index: 1000;
}

.form-button-container {
  display: flex;
  gap: 10px; /* Adjust the gap between buttons if needed */
}

.form-button-container button {
  flex: 1;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #2d1002;
  color: white;
  margin: 10px;
}

.button:hover {
  background-color: #b86f20;
}

form {
  margin: 20px;
}

form .form-group {
  margin-bottom: 15px;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}